<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catégorie</title>
</head>
<body>
    <h1>Catégorie : {{ categorie.libelle }}</h1>
    <p>Description : {{ categorie.description }}</p>
</body>
</html>