<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur le site GiftBox</h1>
<<<<<<< HEAD
    <p>Utilisez les liens ci-dessous pour naviguer :</p>
=======
>>>>>>> 66b91a2e0d1876e7fb02b75258a210a9ba717a06

</body>
</html>