<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur le site GiftBox</h1>
    <p>Utilisez les liens ci-dessous pour naviguer :</p>
    <ul>
        <li><a href="{{ routeParser.urlFor('categories') }}">Voir la liste des catégories</a></li>
        <li><a href="{{ routeParser.urlFor('prestation') }}">Voir les prestations</a></li>
    </ul>
</body>
</html>