<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Prestation</title>
</head>
<body>
    <h1>Prestation : {{ prestation.libelle }}</h1>
    <p>Description : {{ prestation.description }}</p>
    <p>Prix : {{ prestation.tarif }} €</p>
</body>
</html>