# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/giftbox.squelette/gift.appli/src/composer.json
/giftbox.squelette/gift.appli/src/composer.lock
vendor
